@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
font-weight: 600;

}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #cec4c4;
  opacity: 1; /* Firefox */
}

#hamburger-menu{
  font-size: 20px;
  display:none;

}
.search-form{
  position:relative
}
#dropDown-menu{

  background-color:#f3eeee;
  color:black;
  font-size: 12px;
  /* padding:10px; */
  position:absolute;
  z-index:1;
  top:40px;
  right:0px;
  left: 0px;
  transition:0.5s ;
  box-shadow: 1px 2px 10px 0px rgba(0,0,0,0.3);
  
}
@media only screen and (max-width:768px) {
  #hamburger-menu {
 display:inline-block
  }
}
.special-sideBar-wrapper{
  height:100%;
  background-color:black;
  position:absolute;
  top:0px;
right:0px;
  z-index:10;
  padding-right: 15px;
  padding-left: 15px;
  animation: sideBar 1s ease-in both

}
@keyframes sideBar {
  0%{width:0px}
  100%{width:100%}
  
}

.search-fav-form{
  position:absolute;
  z-index:10;
  width: 100%;
  left:0px;right:0px;
  top:0px;

  padding-left: 20px;
  padding-right: 20px;
  display:flex;
  align-items:center;
justify-content:space-between

}
.error-city{
  width:100px;
  background-color:#f3eeee;
  color:black;
  font-size: 12px;
  padding:10px;
  position:absolute;
  z-index:1;
  
  bottom: -60px;
  left: 0px;
  transition:0.5s ;
  box-shadow: 1px 2px 10px 0px rgba(0,0,0,0.3);


}

.hearts {
  color:#f3eeee;
  font-size:30px;
 
}

.hearts .heart{ transition: 1s;}
.hearts .heart.fav-heart{ color:rgb(211, 98, 117)}
.hearts .heart:hover{

  transform:scale(1.5);
  color:rgb(211, 98, 117)


  
}

.search-input{
  border:none;
  background: rgba(0,0,0,0.0);
  border-bottom: 1px solid #aea2a2;
  transition:0.5s linear;
  color:white;


}
.search-input:focus{
outline:none;

box-shadow: 0px 5px 10px 0px #ffffffcc;

transform:scale(1.1)
}
.search-icon{
  position:absolute;
  width: 30px;
    top: 0px;
    right: 8px;
    color: #ffffffcc;
}

.main-container{
  border-radius: 25px;


  position: relative;

    box-shadow: 1px 2px 10px 0px rgba(0,0,0,0.3);
    margin-top:50px;
    height:800px;
    background-image:url("https://images.unsplash.com/photo-1496450681664-3df85efbd29f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80");
    background-size: cover;
    background-repeat: no-repeat;
  }

.side-bar{
  border-left: 1px solid #aea2a2;
 border-radius: 25px;
}
.sidebar-heart{ 
  background-color:red;
  font-weight: 100;
  padding:10px;
  font-weight:100;
  font-size: 0.8rem;
  
cursor:pointer;
  height:100%;
  position:absolute;
  z-index:1;
  right: 0px;
  width:60px;
  display:flex;
  align-items:center;

opacity:0;
transition: 1s



}

.fav-side-bar{
  cursor:pointer;

}

.card-city{
  transition:0.5s linear;
  transform-origin: center;
}
.fav-side-bar:hover  .card-city{
transform:scale(1.1);


}
.fav-side-bar:hover  .sidebar-heart{
  animation:deleteFav 1s  forwards

}

@keyframes deleteFav {
  0%{opacity:0;width:0px}
 100%{opacity:1;width:60px}
}

.main-row{
  height:100%;
  position:relative;
}
.days-report{
  border-top:1px solid #aea2a2
}
.city-card{

  height:80px;
  border:none

}
.card-img-class
  {object-fit: cover;
  height:  100%}


.form {
  display: flex;
  flex-direction: column;
  height:100%
}

.form {
  width: 400px;
}

.form-input {
  height: 40px;
}

.form-input-submit {
  width: 200px;
  height: 40px;
  background-color: rgb(8, 155, 8);
  border: none;
  border-radius: 20px;
  color: white;
  font-weight: 500;
  letter-spacing: 1px;

}
.submit-btn {
  width: 400px;
  display: flex;
  justify-content: space-between;
  margin-left: 0px;
  margin-top: 30px;
}

#checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
}

#bottom-btn {
  width: 100%;
  height: 60px;
  background-color: rgb(255, 255, 255);
  border: 2px solid black;
  border-radius: 30px;
  color: rgb(53, 53, 53);
  font-weight: 500;
  letter-spacing: 1px;
}

#bottom-btn:hover {
  background-color: rgb(121, 120, 120);
}

#signup {
  background-color: white;
  border-radius: 1rem;
  width: 70%;
  font-weight: 600;
}

#login {
  background-color: rgb(0, 0, 0);
  color: white;
  border: 1px solid grey;
  border-radius: 1rem;
  width: 70%;
  font-weight: 600;
}


#signup-page-logo {
  width: 200px;
  height: 60px;
  margin-top: 5%;
}

.signup-items {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 20px 0;
  width: 400px;
}

.signup-btn {
  border-radius: 20px;
}

.fb {
  height: 40px;
  background-color: #3b5998;
  font-weight: 500;
}

.fb:hover {
  background-color: #3d5ea7;
}

#fb {
  width: 20px;
  margin-right: 15px;
  margin-bottom: 3px;
}

.apple {
  height: 40px;
  background-color: #000;
  font-weight: 500;
}

.apple:hover {
  background-color: rgb(46, 46, 46);
}

.google {
  height: 40px;
  background-color: white;
  color: #000;
  font-weight: 500;
}

.google:hover {
  background-color: rgb(105, 105, 105);
  color: rgb(253, 253, 253);
}


